USE [master]
GO
/****** Object:  Database [rental_mobilDW]    Script Date: 7/6/2023 1:46:11 AM ******/
CREATE DATABASE [rental_mobilDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rental_mobilDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\rental_mobilDW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rental_mobilDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\rental_mobilDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rental_mobilDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rental_mobilDW]
GO
/****** Object:  Table [dbo].[DimCabang]    Script Date: 7/6/2023 1:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCabang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[altkey] [varchar](50) NULL,
	[alamat] [varchar](255) NULL,
	[wilayah] [varchar](255) NULL,
	[kota] [varchar](255) NULL,
 CONSTRAINT [PK_dbo.DimLokasi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimKategori]    Script Date: 7/6/2023 1:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[altkey] [varchar](50) NULL,
	[deskripsi] [varchar](255) NULL,
 CONSTRAINT [PK_dbo.DimKategori] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMobil]    Script Date: 7/6/2023 1:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMobil](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[altkey] [varchar](50) NULL,
	[model] [varchar](255) NULL,
	[brand] [varchar](255) NULL,
	[warna] [varchar](255) NULL,
	[harga] [money] NULL,
 CONSTRAINT [PK_dbo.DimMobil] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPelanggan]    Script Date: 7/6/2023 1:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPelanggan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[altkey] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[no_telp] [varchar](255) NULL,
	[domisiliKecamatan] [varchar](255) NULL,
	[domisiliKota] [varchar](255) NULL,
 CONSTRAINT [PK_dbo.DimPelanggan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactPenjualan]    Script Date: 7/6/2023 1:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactPenjualan](
	[idMobil] [int] NOT NULL,
	[idKategori] [int] NOT NULL,
	[idCabang] [int] NOT NULL,
	[idPelanggan] [int] NOT NULL,
	[total_pendapatan] [int] NULL,
 CONSTRAINT [PK_dbo.FactPenjualan] PRIMARY KEY CLUSTERED 
(
	[idMobil] ASC,
	[idKategori] ASC,
	[idCabang] ASC,
	[idPelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimCabang] ON 

INSERT [dbo].[DimCabang] ([id], [altkey], [alamat], [wilayah], [kota]) VALUES (1819, N'00083', N'Jl. Ahmad Dahlan No. 999', N'Denpasar Timur', N'Denpasar')
INSERT [dbo].[DimCabang] ([id], [altkey], [alamat], [wilayah], [kota]) VALUES (1820, N'00280-2424', N'Jl. Sudirman No. 444', N'Surabaya Utara', N'Surabaya')
INSERT [dbo].[DimCabang] ([id], [altkey], [alamat], [wilayah], [kota]) VALUES (1821, N'00306', N'Jl. Gajah Mada No. 444', N'Bandar Lampung Tengah', N'Bandar Lampung')
GO
SET IDENTITY_INSERT [dbo].[DimCabang] OFF
GO
SET IDENTITY_INSERT [dbo].[DimKategori] ON 

INSERT [dbo].[DimKategori] ([id], [altkey], [deskripsi]) VALUES (19, N'Atap terbuka', N'Pengalaman berkendara dengan atap terbuka')
INSERT [dbo].[DimKategori] ([id], [altkey], [deskripsi]) VALUES (20, N'Ekonomi', N'Dalam kota dan perjalanan singkat')
INSERT [dbo].[DimKategori] ([id], [altkey], [deskripsi]) VALUES (21, N'Estate kompak', N'Perjalanan jarak menengah dan dalam kota dengan bagasi tambahan')
SET IDENTITY_INSERT [dbo].[DimKategori] OFF
GO
SET IDENTITY_INSERT [dbo].[DimMobil] ON 

INSERT [dbo].[DimMobil] ([id], [altkey], [model], [brand], [warna], [harga]) VALUES (654, N'1', N'Nissan March', N'Nissan', N'Biru', 350000.0000)
INSERT [dbo].[DimMobil] ([id], [altkey], [model], [brand], [warna], [harga]) VALUES (655, N'1003115', N'Honda Brio Satya', N'Honda', N'Merah', 300000.0000)
INSERT [dbo].[DimMobil] ([id], [altkey], [model], [brand], [warna], [harga]) VALUES (656, N'101', N'Audi Q5', N'Audi', N'Putih', 950000.0000)
GO
SET IDENTITY_INSERT [dbo].[DimMobil] OFF
GO
SET IDENTITY_INSERT [dbo].[DimPelanggan] ON 

INSERT [dbo].[DimPelanggan] ([id], [altkey], [email], [no_telp], [domisiliKecamatan], [domisiliKota]) VALUES (321, N'Abelardo McDermott ', N'jazlyn69@yahoo.com ', N'099345678901', N'Bekasi Timur', N'Bekasi')
INSERT [dbo].[DimPelanggan] ([id], [altkey], [email], [no_telp], [domisiliKecamatan], [domisiliKota]) VALUES (322, N'Adrian Spinka ', N'kellen25@hotmail.com ', N'099012345678', N'Pulo Gadung', N'Jakarta Timur')
INSERT [dbo].[DimPelanggan] ([id], [altkey], [email], [no_telp], [domisiliKecamatan], [domisiliKota]) VALUES (323, N'Albert Larkin ', N'stiedemann.jeremie@yahoo.com ', N'099901234567', N'Ciputat', N'Tangerang Selatan')
GO
SET IDENTITY_INSERT [dbo].[DimPelanggan] OFF
GO
INSERT [dbo].[FactPenjualan] ([idMobil], [idKategori], [idCabang], [idPelanggan], [total_pendapatan]) VALUES (657, 31, 2609, 361, 4500000)
INSERT [dbo].[FactPenjualan] ([idMobil], [idKategori], [idCabang], [idPelanggan], [total_pendapatan]) VALUES (658, 23, 2368, 547, 1750000)
INSERT [dbo].[FactPenjualan] ([idMobil], [idKategori], [idCabang], [idPelanggan], [total_pendapatan]) VALUES (659, 28, 1885, 321, 4250000)
GO
ALTER TABLE [dbo].[FactPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimKategori] FOREIGN KEY([idKategori])
REFERENCES [dbo].[DimKategori] ([id])
GO
ALTER TABLE [dbo].[FactPenjualan] CHECK CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimKategori]
GO
ALTER TABLE [dbo].[FactPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimLokasi] FOREIGN KEY([idCabang])
REFERENCES [dbo].[DimCabang] ([id])
GO
ALTER TABLE [dbo].[FactPenjualan] CHECK CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimLokasi]
GO
ALTER TABLE [dbo].[FactPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimMobil] FOREIGN KEY([idMobil])
REFERENCES [dbo].[DimMobil] ([id])
GO
ALTER TABLE [dbo].[FactPenjualan] CHECK CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimMobil]
GO
ALTER TABLE [dbo].[FactPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimPelanggan] FOREIGN KEY([idPelanggan])
REFERENCES [dbo].[DimPelanggan] ([id])
GO
ALTER TABLE [dbo].[FactPenjualan] CHECK CONSTRAINT [FK_dbo.FactPenjualan_dbo.DimPelanggan]
GO
USE [master]
GO
